body, input, td, textarea
{
    font-family:"Trebuchet MS", "Calibri", "Tahoma";
    font-size:16px;
    padding:2px;
    color:#444;    
    vertical-align:top;
}

input, textarea
{
    font-size:18px;
    border:1px solid #8cf;
    padding:4px;
}

td
{
	text-align:left;
}

td.tdButtons
{
	text-align: right;
	padding-right: 25px;
	padding-top: 15px;
}
td.tdButtons input
{
	margin-left:20px;
}

/* Formulario de Clientes */

#cliEmail, #cliNome, #cliEndereco, #servicoDescricao, #servicoValorExt, #obsRec, #obsInt, #localServico
{
    width:400px;
}

#cliCpf
{
    width:150px;
}

#cliEndereco, #servicoDescricao, #obsRec, #obsInt, #localServico
{
    height:80px;
}

#btnInserir
{
    width:120px;
}

#txtCliente
{
	width:500px;
}

#numeroRecibo, #numeroReciboPapel
{
	width:60px;
	text-align:center;
}

.tdGuia
{
	width:150px;	
}

.button
{
	background: #ffffff url(../images/bg-button.png) 50% 50% repeat-x;	
	color: #444;
}

.trInfo
{
	color: #666;
}

.tdInfo
{
	font-weight: bold;
}

.innerTable
{
	width: 600px;
}

.tdTitulo
{
	color:#666;
	font-size:28pt;
	font-weight: bold;
}

#div-conteudo
{
    position:absolute;
    width:850px;
    left:50%;
    margin-left:-425px;
    top:0px;
}

#div-innerContent
{
	position:absolute;
	top: 40px;
	width: 800px;
	text-align: center;	
}


/* BG & Logo */

body
{
    background-image: url("../images/topo-bg.png");
    background-repeat:repeat-x;
}

#img-nuvem11
{
    background-image: url("../images/topo-bg-nuvem1.png");
    background-repeat:no-repeat;
    position:absolute;
    left:300px;  
    top:0px;
    width:153px;
    height:200px; 
}

#img-slogan1
{
    background-image: url("../images/topo-bg-nuvem2.png");
    background-position:right;
    background-repeat:no-repeat;
    position:absolute;
    top:0px;
    width:100%;
    min-width:800px;
    max-width:1100px;
    height:143px; 
}

#img-logo
{
    background-image: url("../images/logo.png");
    background-repeat:no-repeat;
    position:absolute;
    left:20px;  
    top:20px;
    width:334px;
    height:72px; 
}

#ajax_loader
{
	position:absolute;
	width:20px;
	height:20px;
	background:url(../images/ajax-loader.gif) no-repeat;
	top:5px;
	right:10px;
}